@model xyngr.Models.UsersViewModel
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Admin/User/AddEditUser.js"></script>


<section id="basic-form-layouts">
    <div class="row match-height">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-form">Add User Info</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <div class="messageDivError" id="lblMessage"></div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <form class="form" id="frmAddUser">
                            <div class="form-body">
                                <div class="row">
                                    @Html.HiddenFor(model => model.UserID)
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtFirstName">First Name<span class="mendatory">*</span></label>
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", id = "txtFirstName", placeholder = "First Name" })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtLastName">Last Name<span class="mendatory">*</span></label>
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", id = "txtLastName", placeholder = "Last Name" })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtEmail">Email<span class="mendatory">*</span></label>
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "txtEmail", placeholder = "Email" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtPassword">Password<span class="mendatory">*</span></label>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "txtPassword", placeholder = "Password" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput1">Role</label>
                                            @{
                                                List<SelectListItem> listRole = new List<SelectListItem>();
                                                listRole.Add(new SelectListItem { Text = "Administrator", Value = "1", Selected = true });
                                                listRole.Add(new SelectListItem { Text = "Content Editor", Value = "2" });
                                                listRole.Add(new SelectListItem { Text = "Staff Writer", Value = "3" });
                                                listRole.Add(new SelectListItem { Text = "Writer", Value = "4" });
                                                listRole.Add(new SelectListItem { Text = "Vender", Value = "5" });
                                            }

                                            @Html.DropDownListFor(model => model.RoleID, listRole, null, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtPhone">Phone<span class="mendatory">*</span></label>
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", id = "txtPhone", placeholder = "Phone" })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput1">Status</label>
                                            @{
                                                List<SelectListItem> listStatus = new List<SelectListItem>();
                                                listStatus.Add(new SelectListItem { Text = "Active", Value = "true", Selected = true });
                                                listStatus.Add(new SelectListItem { Text = "Inactive", Value = "false" });
                                            }

                                            @Html.DropDownListFor(model => model.Status, listStatus, null, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions right">
                                    <a href="#" onclick="window.history.back();" class="btn btn-warning mr-1"><i class="ft-x"></i> Cancel</a>
                                    <button type="button" onclick="SaveUser(@ViewBag.IsEditMode)" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
