@model xyngr.Models.BranchListingForFrontViewModel

<!--====== HOTELS LIST ==========-->
@{
    var imageURL = "";

    if (ViewBag.isfromSearchPage == false)
    {
        imageURL = Model.Business.ImageURL;
    }
    else
    {
        imageURL = "../../../images/consul-bg-1.jpg";
    }
}
<section class="hot-page2-alp hot-page2-pa-sp-top" style="background:url(@imageURL) no-repeat center top #e6e6e6;background-attachment: fixed;">
    <input type="hidden" id="hdnId" value="@ViewBag.id" />
    <div class="container">
        <div class="row inner_banner inner_banner_3 bg-none">
            <div class="hot-page2-alp-tit">
                @if (!string.IsNullOrEmpty(ViewBag.Title))
                {
                    <h1>@ViewBag.ParentTitle - @ViewBag.Title</h1>
                }

                <ul>
                    <li><a href="/">Home</a> </li>
                    @if (!string.IsNullOrEmpty(ViewBag.Title))
                    {
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                        <li>@ViewBag.Title </li>
                    }
                </ul>
                @*<p>World's leading Hotel Booking website,Over 30,000 Hotel rooms worldwide. </p>*@
            </div>
        </div>
        <div class="row">
            <div class="hot-page2-alp-con">
                <!--LEFT LISTINGS-->
                <div class="col-md-3 hot-page2-alp-con-left">
                    <!--PART 1 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-con-left-1">
                        <h3>Filter Area</h3>
                    </div>
                    <!--PART 4 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com hidden">
                        <h4><i class="fa fa-map-marker" aria-hidden="true"></i> Select City & Country</h4>
                        <div class="hot-page2-alp-l-com1 hot-page2-alp-p4">
                            <form>
                                <ul>
                                    @{
                                        var icount = 0;
                                        foreach (var item in Model.Locations)
                                        {
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="chp_@icount" class="styled" type="checkbox" name="chkLocation" value="@item.City" onclick="FilterDestination()">
                                                    <label for="chp_@icount">@item.City, @item.Country </label>
                                                </div>
                                            </li>
                                            icount++;
                                        }
                                    }
                                </ul>
                            </form> @*<a href="javascript:void(0);" class="hot-page2-alp-p4-btn-s">view more</a>*@
                        </div>
                    </div>
                    <!--END PART 4 : LEFT LISTINGS-->
                    <!--END PART 5 : LEFT LISTINGS-->
                    <!--PART 6 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4><i class="fa fa-star-o" aria-hidden="true"></i> Select Ratings</h4>
                        <div class="hot-page2-alp-l-com1 hot-page2-alp-p5">
                            <form>
                                <ul>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp61" class="styled" type="checkbox" value="5" name="chkrating" onclick="FilterDestination()">
                                            <label for="chp61">
                                                <span class="ho-hot-rat-star-list">
                                                    <span class="hot-list-left-part-rat">5.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp62" class="styled" type="checkbox" value="4" name="chkrating" onclick="FilterDestination()">
                                            <label for="chp62">
                                                <span class="ho-hot-rat-star-list">
                                                    <span class="hot-list-left-part-rat">4.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp63" class="styled" type="checkbox" value="3" name="chkrating" onclick="FilterDestination()">
                                            <label for="chp63">
                                                <span class="ho-hot-rat-star-list">
                                                    <span class="hot-list-left-part-rat">3.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp64" class="styled" type="checkbox" value="2" name="chkrating" onclick="FilterDestination()">
                                            <label for="chp64">
                                                <span class="ho-hot-rat-star-list">
                                                    <span class="hot-list-left-part-rat">2.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp65" class="styled" type="checkbox" value="1" name="chkrating" onclick="FilterDestination()">
                                            <label for="chp65">
                                                <span class="ho-hot-rat-star-list">
                                                    <span class="hot-list-left-part-rat">1.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </form> @*<a href="javascript:void(0);" class="hot-page2-alp-p5-btn-s">view more</a>*@
                        </div>
                    </div>
                    <!--END PART 5 : LEFT LISTINGS-->
                    <!--PART 6 : LEFT LISTINGS-->
                    @*<div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                            <h4><i class="fa fa-heart-o" aria-hidden="true"></i>Other Categories</h4>
                            <div class="hot-page2-alp-l-com1 hot-page2-alp-p5">
                                <form>
                                    <ul>
                                        <li>
                                            <div class="checkbox checkbox-info checkbox-circle">
                                                <input id="chp71" class="styled" type="checkbox" checked="">
                                                <label for="chp71"> Swimming pools </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-info checkbox-circle">
                                                <input id="chp72" class="styled" type="checkbox">
                                                <label for="chp72"> Wi-Fi & Computer </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-info checkbox-circle">
                                                <input id="chp73" class="styled" type="checkbox">
                                                <label for="chp73"> Kitchen facilities </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-info checkbox-circle">
                                                <input id="chp74" class="styled" type="checkbox">
                                                <label for="chp74"> Music & GYM </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox checkbox-info checkbox-circle">
                                                <input id="chp75" class="styled" type="checkbox">
                                                <label for="chp75"> Dining </label>
                                            </div>
                                        </li>
                                    </ul>
                                </form> <a href="javascript:void(0);" class="hot-page2-alp-p5-btn-s">view more</a>
                            </div>
                        </div>*@
                    <!--END PART 7 : LEFT LISTINGS-->
                </div>
                <!--END LEFT LISTINGS-->
                <!--RIGHT LISTINGS-->
                <div class="col-md-9 hot-page2-alp-con-right">
                    <div class="hot-page2-alp-con-right-1">
                        <!--LISTINGS-->
                        <div class="row" id="divListDestination">
                            @Html.Partial("~/Views/Destination/_DestinationListPartial.cshtml", Model)

                        </div>
                    </div>
                </div>
                <!--END RIGHT LISTINGS-->
            </div>
        </div>
    </div>
</section>
<!--====== TIPS BEFORE TRAVEL ==========-->
@*<section>
    <div class="rows tips tips-home tb-space home_title">
        <div class="container tips_1">
            <!-- TIPS BEFORE TRAVEL -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Tips Before Travel</h3>
                <div class="tips_left tips_left_1">
                    <h5>Bring copies of your passport</h5>
                    <p>Aliquam pretium id justo eget tristique. Aenean feugiat vestibulum blandit.</p>
                </div>
                <div class="tips_left tips_left_2">
                    <h5>Register with your embassy</h5>
                    <p>Mauris efficitur, ante sit amet rhoncus malesuada, orci justo sollicitudin.</p>
                </div>
                <div class="tips_left tips_left_3">
                    <h5>Always have local cash</h5>
                    <p>Donec et placerat ante. Etiam et velit in massa. </p>
                </div>
            </div>
            <!-- CUSTOMER TESTIMONIALS -->
            <div class="col-md-8 col-sm-6 col-xs-12 testi-2">
                <!-- TESTIMONIAL TITLE -->
                <h3>Customer Testimonials</h3>
                <div class="testi">
                    <h4>John William</h4>
                    <p>Ut sed sem quis magna ultricies lacinia et sed tortor. Ut non tincidunt nisi, non elementum lorem. Aliquam gravida sodales</p> <address>Illinois, United States of America</address>
                </div>
                <!-- ARRANGEMENTS & HELPS -->
                <h3>Arrangement & Helps</h3>
                <div class="arrange">
                    <ul>
                        <!-- LOCATION MANAGER -->
                        <li>
                            <a href="#"><img src="../../../images/Location-Manager.png" alt=""> </a>
                        </li>
                        <!-- PRIVATE GUIDE -->
                        <li>
                            <a href="#"><img src="../../../images/Private-Guide.png" alt=""> </a>
                        </li>
                        <!-- ARRANGEMENTS -->
                        <li>
                            <a href="#"><img src="../../../images/Arrangements.png" alt=""> </a>
                        </li>
                        <!-- EVENT ACTIVITIES -->
                        <li>
                            <a href="#"><img src="../../../images/Events-Activities.png" alt=""> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>*@

<script>
    function FilterDestination() {
        var ratingArray = [];
        var locationArray = [];
        $("input:checkbox[name=chkrating]:checked").each(function () {
            ratingArray.push($(this).val());
        });

        $("input:checkbox[name=chkLocation]:checked").each(function () {
            locationArray.push($(this).val());
        });

        $.ajax({
            url: '/Destination/FilterDestination/0',
            type: "POST",
            data: {
                "id": $("#hdnId").val(),
                "ratings": ratingArray,
                "locations": locationArray
            },
            success: function (data) {
                $("#divListDestination").html(data);
            }
        });
    }

</script>