@model xyngr.Models.BranchListingForFrontViewModel

@foreach (var item in Model.BranchList)
{
    <div class="hot-page2-alp-r-list">
        <div class="col-md-3 hot-page2-alp-r-list-re-sp">
            <a href="javascript:void(0);">
                <div class="hotel-list-score">@item.Rating</div>
                <div class="hot-page2-hli-1"> <img src="@item.ImageURL" alt=""> </div>
                @*<div class="hom-hot-av-tic hom-hot-av-tic-list"> Available Rooms: 42 </div>*@
            </a>
        </div>
        <div class="col-md-6">
            <div class="hot-page2-alp-ri-p2">
                <a href="/detail/@Xyngr.helper.CommonLogic.RemoveSpecialCharacter(item.Address1)-@item.BranchID"><h3>@item.BusinessName</h3></a>
                <ul>
                    <li>@item.Address1, @item.Address2</li>
                    <li>@item.Phone</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hot-page2-alp-ri-p3">
                @if (!item.SalePeriod.Equals(string.Empty))
                {
                    <div class="hot-page2-alp-r-hot-page-rat">@item.SalePeriod</div>
                }

                @*<span class="hot-list-p3-1">Price Per Night</span>
                    <span class="hot-list-p3-2">$650</span>*@
                <span class="hot-list-p3-4">
                    <a href="/detail/@Xyngr.helper.CommonLogic.RemoveSpecialCharacter(item.Address1)-@item.BranchID" class="hot-page2-alp-quot-btn">Detail</a>
                </span>
            </div>
        </div>
    </div>
}
