@model xyngr.Models.BranchListingViewModel
<table id="branch-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
    <thead>
        <tr>
            @*<th>Address 1</th>*@
            <th>Address 2</th>
            <th>City</th>
            <th>Email</th>
            @*<th class="text-center">Phone</th>*@
            <th class="text-center">Images</th>
            <th class="text-center">Videos</th>
            <th class="text-center">Comments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.BranchList)
        {
            <tr>
                @*<td width="10%">
                        @item.Address1
                    </td>*@
                <td width="10%">
                    @item.Address2
                </td>
                <td width="10%">
                    @item.City
                </td>
                <td width="10%">
                    @item.Email
                </td>
                @*<td width="10%" class="text-center">
                        @item.Phone
                    </td>*@
                <td width="10%" class="text-center">
                    @Html.ActionLink(Convert.ToString(item.TotalImage), "Index", "ImageGallery", new { bid = item.BranchID, buid = item.BusinessID }, null)
                </td>
                <td width="10%" class="text-center">
                    @Html.ActionLink(Convert.ToString(item.TotalMedia), "Index", "MediaGallery", new { bid = item.BranchID, buid = item.BusinessID }, null)
                </td>
                <td width="10%" class="text-center">
                    @Html.ActionLink(Convert.ToString(item.TotalComment), "Index", "Comment", new { bid = item.BranchID, buid = item.BusinessID }, null)
                </td>

                <td width="10%">
                    @Html.ActionLink("Edit", "Edit", "Branch", new { id = item.BranchID }, null)
                    | @Html.ActionLink("Delete", "Delete", "Branch", new { id = item.BranchID }, new { onclick = "return DeleteAlert();" })
                </td>
            </tr>
        }
    </tbody>

</table>
