@model xyngr.Models.StaticPagesViewModel
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Admin/StaticPage/AddEditStaticPage.js"></script>

@Html.AntiForgeryToken()
<section id="basic-form-layouts">
    <div class="row match-height">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-form">Edit Page</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <form class="form" id="frmAddStaticPage">
                            <div class="form-body">
                                <div class="row">
                                    @Html.HiddenFor(model => model.PageId)
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtPageCode">Page Code<span class="mendatory">*</span></label>
                                            @Html.TextBoxFor(model => model.PageCode, new { @class = "form-control", id = "txtPageCode", disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.PageCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtPageCode">Page Name<span class="mendatory">*</span></label>
                                            @Html.TextBoxFor(model => model.PageName, new { @class = "form-control", id = "txtPageName" })
                                            @Html.ValidationMessageFor(model => model.PageName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txtPageContent">Content</label>
                                            @Html.TextAreaFor(model => model.PageContent, new { @class = "form-control ckeditor", id = "txtPageContent", placeholder = "Page Content", @rows = 10, @cols = "20" })
                                        </div>
                                    </div>
                                </div>

                                <h4 class="form-section"><i class="la la-search"></i>Meta Content for SEO</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txtMetaAuthorContent">Meta Author Content</label>
                                            @Html.TextAreaFor(model => model.MetaAuthorContent, new { @class = "form-control", id = "txtMetaAuthorContent", placeholder = "Meta Author Content", @rows = 4 })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txtMetaDescContent">Meta Description Content</label>
                                            @Html.TextAreaFor(model => model.MetaDescContent, new { @class = "form-control", id = "txtMetaDescContent", placeholder = "Meta Description Content", @rows = 4 })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txtMetaKeyWordContent">Meta KeyWord Content</label>
                                            @Html.TextAreaFor(model => model.MetaKeyWordContent, new { @class = "form-control", id = "txtMetaKeyWordContent", placeholder = "Meta KeyWord Content", @rows = 4 })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput1">Status</label>
                                            @{
                                                List<SelectListItem> listStatus = new List<SelectListItem>();
                                                listStatus.Add(new SelectListItem { Text = "Active", Value = "true", Selected = true });
                                                listStatus.Add(new SelectListItem { Text = "Inactive", Value = "false" });
                                            }

                                            @Html.DropDownListFor(model => model.Status, listStatus, null, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions right">
                                    <a href="#" onclick="window.history.back();" class="btn btn-warning mr-1"><i class="ft-x"></i> Cancel</a>
                                    <button type="button" onclick="SaveStaticPages(@ViewBag.IsEditMode)" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Content/app-assets/vendors/js/editors/ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="~/Content/app-assets/js/scripts/editors/editor-ckeditor.js" type="text/javascript"></script>